*{box-sizing: border-box;}

/*Barra de Navegación*/

.contenedorMenu{
    background: #000;
    color: #fff;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}


.contentLogo .logoEng img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    margin-left: 20px;
}

.navbar .menu ul{
    display: flex;
    gap: 20px;
}

.menu span{
    color: #fbff00;
}

.menu{
    padding-right: 30px;
}

.menu li a{
    color: #fff;
}

/*HOME*/

.conteinerSeccion{
    background-image:linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75)),  url(../assets/img/big-ben.png);
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    margin:auto;
    width: 100%;
    height: 100vh;
    border-left: 2px solid #fff022;
}   

.conteinerSeccion .title h1{
    padding-top: 15%;
    text-align: center;
    color:#fff;
    font-size: 25px;
    margin: auto;
}

.conteinerSeccion .subTitle p{
    text-align: center;
    color:#fff;
    font-size: 60px;
    margin: auto;
}



/*SECCION 2*/

.aprende{
    width: 100%;
    height: 50vh;
    background: #111;
    color: #fff;
    padding: 20px;
    border-top: 2px solid #fff022;
    border-right: 2px solid #fff022;
    border-bottom: 2px solid #fff022;
}

.aprende .tituloAP h1{
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

.aprende .tituloAP span{
    color: #fff022;
}

.row-aprende{
    margin: 20px 0 ;
}

.row-aprende ul{
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

.row-aprende li{
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}

.row-aprende li p{
    width: 100px;
    padding: 10px;
    text-align: center;
}

.row-aprende ul li i{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background: #fff022;
    color: #000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}



/* UBICACION - HOME */

.ubi{
    width: 100%;
    height: auto;
    background: #111;
    color: #fff;
    padding: 20px;
    border-left: 2px solid #fff022;
    border-bottom: 2px solid #fff022;
}

.ubi h3{
    text-align: center;
    font-size: 18px;
    letter-spacing: 5px;
    padding: 20px 15px;
}

.ubi h1{
    text-align: center;
    font-size: 30px;
    padding: 0 20px 20px 20px;
}

.ubi h2{
    text-align: center;
    color: #2e2d2d;
    font-size: 20px;
    letter-spacing: -1px;
}

.ubicacion iframe {
    width: 70%;
    display: flex;
    margin:60px auto;
}









/*CURSOS SECCIÓN.2*/
/*Test*/

.areaTest{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image:linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75)), url(../assets/img/ukcity.jpg);
    text-align: center;
    border-right: 3px solid #fff022;
    border-bottom:2px solid #fff022;
}

.areaTest img{
    height: 90px;
    width: 160px;
    margin-top: 100px;              
}

.areaTest h3{
    font-size: 20px;
    letter-spacing: 4px;
}

.areaTest .list{
    font-size: 25px;
}

.areaTest .list ul li{
    margin: 10px 0;
}

.areaTest .list p{
    font-size: 18px;
    margin:30px 0;
}

/*Cursos Certificación*/

main .conteinerCer{
    width: 100%;
    height: 100vh;
    padding: 20px;
    color: #fff;
    background: #111;
    text-align: center;
    border-left: 2px solid #fff022;
    border-bottom: 2px solid #fff022;
}

.conteinerCer .title2{
    font-size: 20px;
    padding:50px 0;
}

.title2 h1{
    font-size: 30px;
}

.subTitle2{
    font-size: 16px;
    padding: 20px;
}

.conteinerCer .img2 img{
    width: 500px;
    border-radius: 10px;
}










/*Programas a medida SECCION.3 */

.prog{
    width: 100%;
    height: auto; 
    padding: 20px;
    background: #111;
    color: #fff;
    border-left: 2px solid #fbff00;
    border-bottom: 2px solid #fbff00;
}

.prog .title{
    text-align: center;
    padding: 30px 0;
    font-size: 40px;
    letter-spacing: 4px;
}

.prog h1{
    text-align: center;
    font-size: 20px;
}

.colums{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 10px 0 10px;
}

.colums h2{
    color: #fff022;
}

.colums h2 i{
    color: #fff022;
}

.column-2{
    text-align: center;
    padding: 20px;
}

.column-2 p{
    padding: 10px;
}

.column-3{
    padding: 20px 250px;
    margin: 20px 0;
}

.column-3 h2{
    font-size:18px;
    padding: 10px;
    text-align: center;
}

.column-3 li{
    padding: 10px 0 ;
}

.column-3 span{
    color: #fff022;
}

.row {
    display: flex;
    margin: 10px auto;
    padding: 15px;
    justify-content: space-around;
}

.row i{
    color: #fff022;
    padding: 0 6px;
}








/*FORMULARIO DE INSCRIPCION SECCIÓN.4*/

/*Test*/

.areaTest{
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #111;
    color: #fff;
}

.areaTest .uk{
    width: 160px;
    height: auto;
    margin-top: 30vh;
}

.areaTest .title3 h1 {
    font-size: 20px;
    letter-spacing: 4px;
}

.title3 .subTitle3 p{
    font-size: 25px;
    margin: 20px 60px;
}

/*BOTON*/
section .btn{
    background: #fbff00;
    padding: 15px 35px;
    display: inline-block;
}

.btn a{
    color: #000;
}


main .grid-conteinerCon{
    width: 100%;
    height: 100vh;
    padding: 30px;
    color: #fff;
    text-align: center;
    background-image:linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75)), url(../assets/img/ukcity.jpg);
    border-left: 2px solid #fff022;
    border-bottom:2px solid #fff022;
}

.titleCon h1{
    font-size: 25px;
    padding: 20px;
    letter-spacing: 6px;
}

.titleCon p{
    font-size: 18px;
}

.grid-conteinerCon .contacto{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    justify-items: center;
    margin: 50px 0 15px 0;
}

.contacto input{
    width: 300px;
    height: auto;
    padding: 15px;
    background: linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75));
    color: #fff;
    border-style: none;
    border-radius: 8px;
}

.contacto textarea{
    width: 300px;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    background: linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75));
    border-style: none;
    border-radius: 8px;
}

.grid-conteinerCon .btnFoot button{
    width: 300px;
    padding: 10px 0;
    border-style: none;
    border-radius: 6px;
    background: linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75));
}

button a{
    color: #fff;
}

button a:hover{
    color: #fff022;
}



input::placeholder{color: #fff;}
textarea::placeholder{color: #fff;}





/*BOTONES*/
.botones .btn{
    background: #fbff00;
    padding: 15px 35px;
    display: inline-block;
}

.btn a{
    color: #000;
}


.boton{
     display: flex;
     margin: 10px 0;
     justify-content: center;
}

.boton a{
        background: #fbff00;
        color: #000;
        text-align: center;
        text-align: center;
        width: 150px;
        padding: 6px 15px;
        border-radius: 10px;
    
}
/*CIERRE DE BOTONES*/












/* SOBRE NOSOTROS*/

.conteinerSN{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-image:linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75)), url(../assets/img/london_skyline.jpg);
    background-repeat: no-repeat;
    background-size: cover;    
    background-attachment: fixed;
    border-right: 2px solid #fff022;
    border-bottom:2px solid #fff022;
}

/* SECCION 1*/
.titleSN{
    text-align: center;
    padding-top: 20%;
}

.titleSN h1{
    letter-spacing: 2px;
    font-size: 16px;
}

.titleSN p{
    font-size: 60px;
}

/* SECCION 2*/

.historia{
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
    background: #111;
    color: #fff;
    border-left: 2px solid #fff022;
    border-bottom:2px solid #fff022;
}

.historia .historiaContent{
    text-align: center;
    padding: 10px 30px;
}

.titleSN1 h1{
    color: #fff022;
    letter-spacing: 4px;
    padding: 20px;
    font-size: 18px;
}

.titleSN1 h2{
    padding: 10px;
}

.titleSN1 p{
    line-height: 1.5;
}


/*SECCION 3*/

.grid-historia{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



.grid-his1 h1{
    text-align: center;
    padding: 20px;
    color: #fff022;
}

.grid-his1 p{
    padding: 20px;
}

.grid-his1 ul li{
    padding: 15px; 
}

.grid-his2{
    margin-top: 15px;
}

.grid-his2 h1{
    text-align: center;
    padding: 20px;
    color: #fff022;
}

.grid-his2 p{
    line-height: 2;
}

/*SECCION 2*/








/*CIERRE DE SOBRE NOSOTROS*/




/*PIE DE PAGINA*/

.footer{
    background: #111;
    color: #fff;
    width: 100%;
    height:auto;
    font-family: sans-serif;
    border-right: 3px solid #fff022;
}

.footer .footerTitle{
    text-align: center;
}

.footerTitle h1{
    font-size: 22px;
    letter-spacing: 5px;
    padding: 15px;
}

.footerTitle p{
    font-size: 16px;
    padding: 5px;
}

/*CONTENEDOR*/
.grid-conteiner{
    display: grid;
    grid-template-columns: 50% 50%;
}

/*MENSAJES*/
.grid-conteiner .mensajes{
    display: grid;
    justify-items: center;
    padding: 20px;
    gap: 10px;
}

.mensajes input{
    width: 300px;
    padding: 10px;
    border-style: none;
    border-radius: 6px;
    background: #2c2c2c;
    color: #fff;
}

.mensajes input::placeholder{
    color: #fff;
    font-size: 10px;
}

.mensajes textarea{
    width: 300px;
    padding: 10px;
    border-style: none;
    border-radius: 6px;
    background: #2c2c2c;
    color: #fff;
}

.mensajes .btnFoot button{
    width: 300px;
    padding: 10px 0;
    border-style: none;
    border-radius: 6px;
    background: #2c2c2c;
}

button a{
    color: #fff;
}

button a:hover{
    color: #fff022;
}


/*CONTACTOS - FOOTER*/
.footer .contactos{
    display: inline-block;
    text-align: center;
}

.contactos h1{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.contactos ul li{
    padding: 10px;
}

.contactos .redes ul li{
    padding: 10px;
}

.redes .face{
    padding: 5px;
    font-size: 18px;
}

.redes .ig{
    padding: 5px;
    font-size: 18px;
}

.redes .gmail{
    padding: 5px;
    font-size: 18px;
}

.face a{
    color: #fff;
}

.face:hover{
    color:#3b5998;
}

.face a:hover{
    color:#3b5998;
}

.ig a{
    color: #fff;
}

.ig:hover{
    color:#cf25b3;
}

.ig a:hover{
    color:#cf25b3;
}

.gmail a{
    color: #fff;
}

.gmail:hover{
    color:#bd0f0f;
}

.gmail a:hover{
    color:#bd0f0f;
}

.gmail i{
    margin-right: 10px;
}

.span{
    background: #272727;
    padding: 10px;
    text-align: center;
}





