/*Variables*/

/*Width*/
$vw:100%;
$win: 320px;
$wte: 320px;
$wBtn: 100px;

/*Height*/
$ha: auto;
$hvh: 100vh;

/*Colores*/

$bg:#111;
$bgTr:linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75));
$backg:#2b2a2a;


$btn:#fff022;
$colorText:#fff022;
$color:#353333;
$textA:#000;
$textB:#fff;
$borderLine: 3px solid #fff022;



/*Textos/size*/
$texto:10px;
$texto1:12px;
$texto2:16px;
$texto3:18px;
$texto4:20px;
$texto5:22px;
$texto6:24px;


$titulo1:16px;
$titulo2:18px;
$titulo3:20px;
$titulo4:22px;

$titulorem1:1rem;
$titulorem2:2rem;
$titulorem3:3rem;
