/*Variables*/

/*Width*/
$vw:100%;
$win: 320px;
$wte: 320px;
$wBtn: 100px;


/*Colores*/

$bg:#111;
$bgTr:linear-gradient(rgba(5,7,12, .75), rgba(5, 7, 12,.75));
$backg:#2b2a2a;


$btn:#fff022;
$color:#353333;
$textA:#000;
$textB:#fff;
$borderTop: 3px solid #fff022;
$borderRight: 3px solid #fff022;
$borderBottom: 3px solid #fff022;
$borderLeft: 3px solid #fff022;



/*Textos/size*/
$texto:10px;
$texto1:12px;
$texto2:16px;

$titulo1:16px;
$titulo2:18px;
$titulo3:20px;
$titulo4:22px;

$titulorem1:1rem;
$titulorem2:2rem;
$titulorem3:3rem;



/*HOME*/
.conteinerSeccion {
        background:$bgTr, url(../assets/img/big-ben.png) no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: $vw;
        height: 100vh;
        border-right: $borderRight;
        border-bottom: $borderBottom;


    
        .homeItems{
            
            color: $textB;

            .title{
                p{
                    padding: 0;
                    font-size: 14px;
                    margin: 0; 
                }
               
            }
        
        }

         .subTitle{
                h1{
                   font-size: $titulorem3;
                   padding: 10px;
                }
                
            }

            .boton{
                a{
                    background: $btn;
                    color: $textA;
                    padding: 5px 30px;
                    border-radius: 6px;
                    text-decoration: none;
                }
            }

}

/*Slider*/

.conteiner-slider{
    border-bottom: $borderBottom;
    border-left: $borderLeft;
}


/*Ubicacion*/

.ubi{
    width: $vw;
    height: auto;
    background: $bg;
    color: $textB;
    padding: 30px;
    border-right: $borderRight;
    border-bottom: $borderBottom;


    .ubiItems{
        text-align: center;
        
        h1{
            font-size: $titulo1;
            letter-spacing: 5px;
        }

        h2{
            padding: 10px;
        }

        p{
            color: $color;
            font-size:$texto1;
            padding: 20px;
        }

    }

    .ubicacion{
        display: flex;
        padding: 20px;
        
        iframe{
            margin: 0 auto;
        }
    }
    
}


/*Seccion 4 - Info*/

section.aprende{
    width: $vw;
    height: auto;
    padding: 20px;
    background: $bg;
    color: $textB;
    border-left: $borderLeft;
    border-bottom: $borderBottom;

        .tituloAP{
            text-align: center;
            
            h1{
                font-size: $titulorem2;
                padding: 10px;
            }

            span{
                color: $btn;
            }   

            
        }


        .row-aprende{
            width: $vw;
            height: auto;
            padding: 20px;
            

            ul{
                display: flex;
                justify-content: space-around;
                padding: 10px;


                    li{
                        width: 100px;
                        text-align: center;
                        padding: 10px;

                            i{
                                padding: 6px;
                                border-radius: 50%;
                                background: $btn;
                                color: $textA;
                            }

                            p{
                                padding: 5px;
                            }
                    }
            }    

            
        
        }
        
       
}


/*Footer*/

.footer{
    width: $vw;
    height: auto;
    background: $bg;
    color:$textB;
    border-right: $borderRight;

        .footerTitle{
            text-align: center;

            h1{
                font-size: $titulo4;
                letter-spacing: 5px;
                padding: 15px;
            }

            p{
                padding: 5px;
            }
        }

        div.grid-conteiner{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;

                .mensajes{
                    display: grid;
                    justify-items: center;
                    padding: 20px;

                    input{
                       margin: 5px;
                       padding: 10px;
                       font-size: $texto1;
                       width: $win;
                       background: $backg;
                       border-radius: 4px;
                       border-style: none;
                    }

                    textarea{
                        padding: 10px;
                        width: $wte;
                        background: $backg;
                        font-size: $texto1;
                        border-radius: 4px;
                        border-style: none;
                    }

                    div.btnFoot{
                        margin: 5px 0;
                        
                        button{
                            width: $win;
                            background: $backg;
                            border: none;
                            padding: 5px;    

                            a{
                                
                                font-size: $texto2;
                                color: $textB;
                                text-decoration: none;
                            }
                        }
                    }
                }
        }

        div.contactos{      
            padding: 20px;
            text-align: center;

            .textContactos{
                ul{
                    li{
                        padding: 5px;
                    }
                }
            }

            .redes{
               display: grid;
               gap: 10px;
              
                i{
                    padding: 5px;
                }

                a{
                    color: $textB;
                    text-decoration: none;
                }

                li:hover{
                   color:$btn;
                }

                a:hover{
                    color:$btn;
                 }

            }

            

        }
            div.span{
                width: $vw;
                background: $backg;
                text-align: center;
                padding: 10px;
            }

}


