@charset "UTF-8";
/*Imports pargials*/
/*Variables*/
/*Width*/
/*Height*/
/*Colores*/
/*Textos/size*/
/*Titulos px/rem */
/*Views*/
* {
  box-sizing: border-box;
}

/*HOME*/
.conteinerSeccion {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/big-ben.png) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  border-right: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
.conteinerSeccion .homeItems {
  color: #fff;
}
.conteinerSeccion .homeItems .title p {
  padding: 0;
  font-size: 14px;
  margin: 0;
}
.conteinerSeccion .subTitle h1 {
  font-size: 3rem;
  padding: 10px;
}
.conteinerSeccion .boton a {
  background: #fff022;
  color: #000;
  padding: 5px 30px;
  border-radius: 6px;
  text-decoration: none;
}

/*Slider*/
.conteiner-slider {
  border-bottom: 3px solid #fff022;
  border-left: 3px solid #fff022;
}

/*Ubicacion*/
.ubi {
  width: 100%;
  height: auto;
  background: #111;
  color: #fff;
  padding: 30px;
  border-right: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
.ubi .ubiItems {
  text-align: center;
}
.ubi .ubiItems h1 {
  font-size: 16px;
  letter-spacing: 5px;
}
.ubi .ubiItems h2 {
  padding: 10px;
}
.ubi .ubiItems p {
  color: #353333;
  font-size: 12px;
  padding: 20px;
}
.ubi .ubicacion {
  display: flex;
  padding: 20px;
}
.ubi .ubicacion iframe {
  margin: 0 auto;
}

/*Seccion 4 - Info*/
section.aprende {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #111;
  color: #fff;
  border-left: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
section.aprende .tituloAP {
  text-align: center;
}
section.aprende .tituloAP h1 {
  font-size: 2rem;
  padding: 10px;
}
section.aprende .tituloAP span {
  color: #fff022;
}
section.aprende .row-aprende {
  width: 100%;
  height: auto;
  padding: 20px;
}
section.aprende .row-aprende ul {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
section.aprende .row-aprende ul li {
  width: 100px;
  text-align: center;
  padding: 10px;
}
section.aprende .row-aprende ul li i {
  padding: 6px;
  border-radius: 50%;
  background: #fff022;
  color: #000;
}
section.aprende .row-aprende ul li p {
  padding: 5px;
}

.footer {
  width: 100%;
  height: auto;
  background: #111;
  color: #fff;
  border-top: 3px solid #fff022;
  border-right: 3px solid #fff022;
}
.footer .footerTitle {
  text-align: center;
}
.footer .footerTitle h1 {
  font-size: 22px;
  letter-spacing: 5px;
  padding: 15px;
}
.footer .footerTitle p {
  padding: 5px;
}
.footer div.grid-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.footer div.grid-conteiner .mensajes {
  display: grid;
  justify-items: center;
  padding: 15px;
}
.footer div.grid-conteiner .mensajes input {
  margin: 5px;
  padding: 10px;
  font-size: 12px;
  width: 320px;
  background: #2b2a2a;
  border-radius: 4px;
  border-style: none;
}
.footer div.grid-conteiner .mensajes textarea {
  padding: 10px;
  width: 320px;
  background: #2b2a2a;
  font-size: 12px;
  border-radius: 4px;
  border-style: none;
}
.footer div.grid-conteiner .mensajes div.btnFoot {
  margin: 5px 0;
}
.footer div.grid-conteiner .mensajes div.btnFoot button {
  width: 320px;
  background: #2b2a2a;
  border: none;
  padding: 5px;
}
.footer div.grid-conteiner .mensajes div.btnFoot button a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.footer div.contactos {
  padding: 20px;
  text-align: center;
}
.footer div.contactos .textContactos ul li {
  padding: 5px;
}
.footer div.contactos .redes {
  display: grid;
  gap: 10px;
}
.footer div.contactos .redes i {
  padding: 5px;
}
.footer div.contactos .redes a {
  color: #fff;
  text-decoration: none;
}
.footer div.contactos .redes li:hover {
  color: #fff022;
}
.footer div.contactos .redes a:hover {
  color: #fff022;
}
.footer div.span {
  width: 100%;
  background: #2b2a2a;
  text-align: center;
  padding: 10px;
}

section .areaTest {
  width: 100%;
  height: auto;
  padding: 10px;
  padding: 10%;
  background: #111;
  color: #fff;
  text-align: center;
  border-right: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
section .areaTest img {
  width: 150px;
  height: 100;
}
section .areaTest h1 {
  font-size: 18px;
  letter-spacing: 5px;
  padding: 5px;
}
section .areaTest .list ul {
  padding: 20px;
}
section .areaTest .list h2 {
  font-size: 16px;
}
section .areaTest .list p {
  padding: 15px;
}
section .areaTest .list p span {
  color: #fff022;
}
section .areaTest .botones .btn a {
  background: #fff022;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  padding: 5px 15px;
}

section .conteinerCer {
  width: 100%;
  height: auto;
  padding: 20px;
  background: #111;
  color: #fff;
  border-left: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
section .conteinerCer h2 {
  font-size: 16px;
  color: #353333;
  text-align: center;
  padding: 15px;
}
section .conteinerCer .title2 {
  text-align: center;
}
section .conteinerCer .title2 h1 {
  font-size: 2rem;
}
section .conteinerCer .img2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
section .conteinerCer .img2 img {
  width: 500px;
  border-radius: 8px;
}

section .prog {
  width: 100%;
  height: auto;
  background: #111;
  color: #fff;
  padding: 20px;
  border-left: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
section .prog .titleProg {
  text-align: center;
}
section .prog .titleProg h1 {
  padding: 10px;
  font-size: 2rem;
  color: #fff;
}
section .prog .columns {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  font-size: 16px;
}
section .prog .columns h2 {
  color: #fff022;
}
section h1 {
  font-size: 16px;
  text-align: center;
}
section .column-2 {
  text-align: center;
  padding: 20px;
}
section .column-2 h2 {
  padding: 10px;
}
section .column-3 h2 {
  text-align: center;
  padding: 20px;
}
section .column-3 ul {
  padding: 20px;
}
section .column-3 ul li {
  font-size: 18px;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}
section .column-3 ul li span {
  color: #fff022;
}
section .row ul {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  text-align: center;
}
section .row ul li {
  width: 120px;
  padding: 10px;
}
section .row ul li i {
  background: #fff022;
  color: #000;
  border-radius: 50%;
  padding: 5px;
}
section .row ul li p {
  padding: 10px;
  text-align: center;
}

section .areaForm {
  width: 100%;
  height: 100vh;
  background: #111;
  color: #fff;
  text-align: center;
  padding-top: 15%;
  border-right: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
section .areaForm .image img {
  width: 170px;
  padding: 10px;
}
section .areaForm .title3 h1 {
  font-size: 18px;
  padding: 5px;
  letter-spacing: 4px;
}
section .areaForm .title3 .subTitle3 p {
  font-size: 24px;
  padding: 0 30px;
}
section .areaForm .botones .btn a {
  background: #fff022;
  color: #000;
  text-decoration: none;
  padding: 5px 25px;
  border-radius: 6px;
}

.conteinerCon {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/london_skyline.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-left: 3px solid #fff022;
}
.conteinerCon .titleCon {
  color: #fff;
  text-align: center;
}
.conteinerCon .titleCon h1 {
  padding: 100px 0px 10px 0px;
  font-size: 20px;
  letter-spacing: 4px;
}
.conteinerCon .grid-conteinerCon .contacto {
  width: 100%;
  display: grid;
  justify-items: center;
  gap: 5px;
}
.conteinerCon .grid-conteinerCon .contacto input {
  width: 320px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  color: #fff;
  border-style: none;
  padding: 10px;
  font-size: 12px;
}
.conteinerCon .grid-conteinerCon .contacto textarea {
  width: 320px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  color: #fff;
  border-style: none;
  padding: 10px;
  font-size: 12px;
}
.conteinerCon .grid-conteinerCon .contacto .btnFoot button {
  width: 320px;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75));
  border-style: none;
  padding: 10px;
  font-size: 12px;
}
.conteinerCon .grid-conteinerCon .contacto .btnFoot button a {
  text-decoration: none;
  color: #fff;
}

.conteinerSN {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../assets/img/ukcity.jpg);
  color: #fff;
  border-right: 3px solid #fff022;
  border-bottom: 3px solid #fff022;
}
.conteinerSN .titleSN {
  text-align: center;
}
.conteinerSN .titleSN .items {
  padding-top: 15%;
}
.conteinerSN .titleSN h1 {
  font-size: 20px;
}
.conteinerSN .titleSN p {
  font-size: 3rem;
}

.historia {
  width: 100%;
  height: auto;
  background: #111;
  border-left: 3px solid #fff022;
  font-size: 18px;
  color: #fff;
  text-align: center;
  padding: 10px;
}
.historia .historiaContent {
  padding: 22px;
}
.historia .historiaContent .titleSN1 h1 {
  font-size: 20px;
  color: #fff022;
}
.historia .historiaContent .titleSN1 p {
  padding: 0 50px;
}
.historia .historiaContent .titleSN1 h2 {
  font-size: 16px;
}
.historia .grid-historia {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.historia .grid-historia .grid-his1 {
  display: grid;
  justify-items: center;
}
.historia .grid-historia .grid-his1 h1 {
  color: #fff022;
  font-size: 20px;
  padding: 5px;
}
.historia .grid-historia .grid-his1 p {
  text-align: center;
  padding: 0 20px;
  font-size: 18px;
}
.historia .grid-historia .grid-his1 ul {
  text-align: start;
}
.historia .grid-his2 h1 {
  color: #fff022;
  font-size: 20px;
  width: auto;
  height: 20px;
}
.historia .grid-his2 p {
  text-align: start;
  line-height: 30px;
}

.footer {
  width: 100%;
  height: auto;
  background: #111;
  color: #fff;
  border-top: 3px solid #fff022;
  border-right: 3px solid #fff022;
}
.footer .footerTitle {
  text-align: center;
}
.footer .footerTitle h1 {
  font-size: 22px;
  letter-spacing: 5px;
  padding: 15px;
}
.footer .footerTitle p {
  padding: 5px;
}
.footer div.grid-conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.footer div.grid-conteiner .mensajes {
  display: grid;
  justify-items: center;
  padding: 15px;
}
.footer div.grid-conteiner .mensajes input {
  margin: 5px;
  padding: 10px;
  font-size: 12px;
  width: 320px;
  background: #2b2a2a;
  border-radius: 4px;
  border-style: none;
}
.footer div.grid-conteiner .mensajes textarea {
  padding: 10px;
  width: 320px;
  background: #2b2a2a;
  font-size: 12px;
  border-radius: 4px;
  border-style: none;
}
.footer div.grid-conteiner .mensajes div.btnFoot {
  margin: 5px 0;
}
.footer div.grid-conteiner .mensajes div.btnFoot button {
  width: 320px;
  background: #2b2a2a;
  border: none;
  padding: 5px;
}
.footer div.grid-conteiner .mensajes div.btnFoot button a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}
.footer div.contactos {
  padding: 20px;
  text-align: center;
}
.footer div.contactos .textContactos ul li {
  padding: 5px;
}
.footer div.contactos .redes {
  display: grid;
  gap: 10px;
}
.footer div.contactos .redes i {
  padding: 5px;
}
.footer div.contactos .redes a {
  color: #fff;
  text-decoration: none;
}
.footer div.contactos .redes li:hover {
  color: #fff022;
}
.footer div.contactos .redes a:hover {
  color: #fff022;
}
.footer div.span {
  width: 100%;
  background: #2b2a2a;
  text-align: center;
  padding: 10px;
}

/*Responsive*/
@media screen and (min-width: 0px) and (max-width: 359px) {
  .conteinerSeccion .homeItems .title p {
    font-size: 10px;
  }
  .conteinerSeccion .homeItems .subTitle h1 {
    font-size: 24px;
    padding: 10px 30px;
  }
  .conteinerSeccion .homeItems .boton {
    font-size: 10px;
  }
  section.ubi .ubiItems p {
    font-size: 10px;
    padding: 0;
  }
  section.ubi .ubicacion iframe {
    width: 100%;
  }
  section.aprende .tituloAP h1 {
    font-size: 2rem;
  }
  section.aprende .row-aprende ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
  }
  section.aprende .row-aprende ul p {
    font-size: 12px;
  }
  footer.footer .footerTitle h1 {
    font-size: 20px;
  }
  footer.footer .footerTitle p {
    font-size: 18px;
    padding: 0 40px;
  }
  footer.footer .grid-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  /*CURSOS*/
  section .conteinerCer {
    padding: 50px;
  }
  section .conteinerCer .title2 h1 {
    font-size: 22px;
  }
  section .conteinerCer .img2 img {
    width: 100%;
  }
  /*Programas a medidas*/
  section .prog .titleProg h1 {
    font-size: 22px;
    text-align: center;
  }
  section .prog .columns {
    display: block;
    text-align: center;
  }
  section .prog .columns .colum1 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum1 ul li {
    text-align: left;
  }
  section .prog .columns .colum2 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum2 ul li {
    text-align: left;
  }
  section .prog .columns .colum3 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum3 ul li {
    text-align: left;
  }
  section .prog .column-3 ul li {
    margin: 0;
    width: 100%;
  }
  section .prog .row ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  /*Formulario de inscripción*/
  section .areaForm {
    width: 100%;
    height: 100vh;
  }
  section .areaForm .image .uk {
    width: 150px;
  }
  section .areaForm .title3 h1 {
    font-size: 16px;
  }
  section .areaForm .title3 .subTitle3 p {
    font-size: 12px;
    padding: 0 30px;
  }
  section .areaForm .title3 .botones .btn a {
    font-size: 12px;
  }
  section.conteinerCon {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  section.conteinerCon .titleCon h1 {
    font-size: 20px;
    padding: 5% 10px 0 0;
  }
  section.conteinerCon .titleCon p {
    padding: 10px;
  }
  /*SOBRE NOSOTROS*/
  section.conteinerSN .titleSN .items {
    padding-top: 40%;
  }
  section.conteinerSN .titleSN .items h1 {
    font-size: 12px;
  }
  section.conteinerSN .titleSN .items p {
    font-size: 22px;
  }
  section.historia .historiaContent .titleSN1 h1 {
    font-size: 2rem;
  }
  section.historia .historiaContent .titleSN1 p {
    font-size: 16px;
  }
  section.historia .grid-historia {
    width: 100%;
    height: auto;
    display: block;
  }
  section.historia .grid-historia .grid-his1 ul {
    font-size: 18px;
  }
  section.historia .grid-historia .grid-his1 ul li {
    padding: 5px;
  }
  section.historia .grid-historia .grid-his2 p {
    padding-left: 32px;
    text-align: left;
    font-size: 18px;
  }
}
@media screen and (min-width: 360px) and (max-width: 479px) {
  .conteinerSeccion .homeItems .title p {
    font-size: 16px;
  }
  .conteinerSeccion .homeItems .subTitle h1 {
    font-size: 2rem;
    padding: 10px 30px;
  }
  .conteinerSeccion .homeItems .boton a {
    font-size: 12px;
  }
  section.ubi .ubicacion iframe {
    width: 100%;
  }
  section.aprende .tituloAP h1 {
    font-size: 2rem;
  }
  section.aprende .row-aprende ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
  }
  section.aprende .row-aprende ul p {
    font-size: 12px;
  }
  footer.footer .footerTitle p {
    padding: 0 20px;
  }
  footer.footer .grid-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  footer.footer .mensajes textarea {
    margin-top: 5px;
  }
  /*CURSOS*/
  section .conteinerCer {
    padding: 50px;
  }
  section .conteinerCer .title2 h1 {
    font-size: 2rem;
  }
  section .conteinerCer .img2 img {
    width: 100%;
  }
  /*Programas a medidas*/
  section .prog .titleProg h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .prog .columns {
    display: block;
    text-align: center;
  }
  section .prog .columns .colum1 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum1 ul li {
    text-align: center;
  }
  section .prog .columns .colum2 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum2 ul li {
    text-align: center;
  }
  section .prog .columns .colum3 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum3 ul li {
    text-align: center;
  }
  section .prog .column-3 ul li {
    margin: 0;
    width: 100%;
  }
  section .prog .row ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
  }
  /*Formulario de inscripción*/
  section .areaForm {
    width: 100%;
    height: 100vh;
  }
  section .areaForm .image .uk {
    width: 150px;
  }
  section .areaForm .title3 h1 {
    font-size: 16px;
  }
  section .areaForm .title3 .subTitle3 p {
    font-size: 18px;
    padding: 0 30px;
  }
  section .areaForm .title3 .botones .btn a {
    font-size: 12px;
  }
  section.conteinerCon {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  section.conteinerCon .titleCon h1 {
    font-size: 20px;
    padding: 5% 10px 0 0;
  }
  section.conteinerCon .titleCon p {
    padding: 10px;
  }
  /*SOBRE NOSOTROS*/
  section.conteinerSN .titleSN .items {
    padding-top: 40%;
  }
  section.conteinerSN .titleSN .items h1 {
    font-size: 12px;
  }
  section.conteinerSN .titleSN .items p {
    font-size: 22px;
  }
  section.historia .historiaContent .titleSN1 h1 {
    font-size: 2rem;
  }
  section.historia .historiaContent .titleSN1 p {
    font-size: 16px;
  }
  section.historia .grid-historia {
    width: 100%;
    height: auto;
    display: block;
  }
  section.historia .grid-historia .grid-his1 ul {
    font-size: 18px;
  }
  section.historia .grid-historia .grid-his1 ul li {
    padding: 5px;
  }
  section.historia .grid-historia .grid-his2 p {
    padding-left: 32px;
    text-align: left;
    font-size: 18px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .conteinerSeccion .homeItems .title p {
    font-size: 12px;
  }
  .conteinerSeccion .homeItems .subTitle h1 {
    font-size: 1rem;
  }
  .conteinerSeccion .homeItems .boton a {
    font-size: 10px;
  }
  section.aprende {
    width: 100%;
    height: auto;
  }
  section.aprende .tituloAP h1 {
    font-size: 2rem;
  }
  section.aprende .row-aprende ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-content: center;
  }
  section.aprende .row-aprende ul li p {
    text-align: center;
    font-size: 12px;
  }
  footer.footer .footerTitle h1 {
    font-size: 18px;
  }
  footer.footer .footerTitle p {
    font-size: 16px;
    padding: 0 40px;
  }
  footer.footer .grid-conteiner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px 0;
  }
  footer.footer .grid-conteiner .mensajes textarea {
    margin-top: 5px;
  }
  footer.footer .grid-conteiner .contactos .textContactos h1 {
    font-size: 2rem;
  }
  /*CURSOS*/
  section .conteinerCer {
    padding: 50px;
  }
  section .conteinerCer .title2 h1 {
    font-size: 3rem;
  }
  section .conteinerCer .img2 img {
    width: 100%;
  }
  /*Programas a medidas*/
  section .prog .titleProg h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .prog .columns {
    text-align: center;
  }
  section .prog .columns .colum1 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum1 ul li {
    text-align: left;
  }
  section .prog .columns .colum2 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum2 ul li {
    text-align: left;
  }
  section .prog .columns .colum3 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum3 ul li {
    text-align: left;
  }
  section .prog .column-3 ul li {
    margin: 0;
    width: 100%;
  }
  section .prog .row ul {
    display: flex;
    justify-content: space-evenly;
  }
  /*Formulario de inscripción*/
  section .areaForm {
    width: 100%;
    height: 100vh;
  }
  section .areaForm .image .uk {
    width: 150px;
  }
  section .areaForm .title3 h1 {
    font-size: 16px;
  }
  section .areaForm .title3 .subTitle3 p {
    font-size: 16px;
    padding: 0 30px;
  }
  section .areaForm .title3 .botones .btn a {
    font-size: 12px;
  }
  section.conteinerCon {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  section.conteinerCon .titleCon h1 {
    font-size: 20px;
    padding: 5% 10px 0 0;
  }
  section.conteinerCon .titleCon p {
    padding: 10px;
  }
  /*SOBRE NOSOTROS*/
  section.conteinerSN .titleSN .items {
    padding-top: 40%;
  }
  section.conteinerSN .titleSN .items h1 {
    font-size: 12px;
  }
  section.conteinerSN .titleSN .items p {
    font-size: 22px;
  }
  section.historia .historiaContent .titleSN1 h1 {
    font-size: 2rem;
  }
  section.historia .historiaContent .titleSN1 p {
    font-size: 16px;
  }
  section.historia .grid-historia {
    width: 100%;
    height: auto;
    display: block;
  }
  section.historia .grid-historia .grid-his1 ul {
    font-size: 18px;
  }
  section.historia .grid-historia .grid-his1 ul li {
    padding: 5px;
  }
  section.historia .grid-historia .grid-his2 p {
    padding-left: 32px;
    text-align: left;
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 959px) {
  .conteinerSeccion {
    width: 100%;
    height: 100vh;
  }
  .conteinerSeccion .homeItems .title p {
    font-size: 18px;
  }
  .conteinerSeccion .homeItems .subTitle h1 {
    font-size: 3rem;
  }
  .conteinerSeccion .homeItems .boton a {
    font-size: 12px;
  }
  section.aprende .row-aprende ul {
    display: flex;
    justify-content: space-evenly;
  }
  footer.footer .footerTitle h1 {
    font-size: 3rem;
  }
  footer.footer .footerTitle p {
    font-size: 22px;
    padding: 0 40px;
  }
  footer.footer .grid-conteiner .mensajes input {
    font-size: 16px;
  }
  footer.footer .grid-conteiner .mensajes textarea {
    font-size: 16px;
  }
  /*CURSOS*/
  section .areaTest img {
    width: 300px;
  }
  section .areaTest h1 {
    font-size: 22px;
  }
  section .areaTest .list {
    font-size: 24px;
  }
  section .areaTest .botones .btn a {
    font-size: 20px;
  }
  section .conteinerCer {
    padding: 50px;
  }
  section .conteinerCer .title2 h1 {
    font-size: 3rem;
  }
  section .conteinerCer .title2 .subTitle2 p {
    font-size: 22px;
    padding: 15px;
  }
  section .conteinerCer h2 {
    font-size: 20px;
  }
  section .conteinerCer .img2 img {
    width: 100%;
  }
  /*Programas a medidas*/
  section .prog .titleProg h1 {
    font-size: 2rem;
    text-align: center;
  }
  section .prog .columns {
    text-align: center;
  }
  section .prog .columns .colum1 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum1 ul li {
    text-align: left;
  }
  section .prog .columns .colum2 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum2 ul li {
    text-align: left;
  }
  section .prog .columns .colum3 h2 {
    font-size: 20px;
  }
  section .prog .columns .colum3 ul li {
    text-align: left;
  }
  section .prog .column-3 ul li {
    margin: 0;
    width: 100%;
  }
  section .prog .row ul {
    display: flex;
    justify-content: space-evenly;
  }
  /*Formulario de inscripción*/
  section .areaForm {
    width: 100%;
    height: 100vh;
  }
  section .areaForm .image .uk {
    width: 150px;
  }
  section .areaForm .title3 h1 {
    font-size: 16px;
  }
  section .areaForm .title3 .subTitle3 p {
    font-size: 18px;
    padding: 0 30px;
  }
  section .areaForm .title3 .botones .btn a {
    font-size: 12px;
  }
  section.conteinerCon {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  section.conteinerCon .titleCon h1 {
    font-size: 24px;
    padding: 5% 10px 0 0;
  }
  section.conteinerCon .titleCon p {
    padding: 0 40px;
  }
  /*SOBRE NOSOTROS*/
  section.conteinerSN .titleSN .items {
    padding-top: 25%;
  }
  section.conteinerSN .titleSN .items h1 {
    font-size: 20px;
  }
  section.conteinerSN .titleSN .items p {
    font-size: 3rem;
  }
  section.historia .historiaContent .titleSN1 h1 {
    font-size: 2rem;
  }
  section.historia .historiaContent .titleSN1 p {
    font-size: 16px;
  }
  section.historia .grid-historia {
    width: 100%;
    height: auto;
  }
  section.historia .grid-historia .grid-his1 ul {
    font-size: 18px;
  }
  section.historia .grid-historia .grid-his1 ul li {
    padding: 5px;
  }
  section.historia .grid-historia .grid-his2 p {
    padding-left: 32px;
    text-align: left;
    font-size: 18px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1023px) {
  body {
    box-sizing: border-box;
  }
  .conteinerSeccion {
    width: 100%;
    height: 100vh;
  }
  .conteinerSeccion .homeItems .title p {
    font-size: 16px;
  }
  .conteinerSeccion .homeItems .subTitle h1 {
    font-size: 3rem;
    padding: 15px;
  }
  .conteinerSeccion .homeItems .boton a {
    font-size: 16px;
  }
  .ubi .ubicacion iframe {
    width: 90%;
  }
  section.aprende .row-aprende ul {
    display: flex;
    justify-content: space-evenly;
  }
  footer.footer .footerTitle h1 {
    font-size: 3rem;
  }
  footer.footer .footerTitle p {
    font-size: 22px;
    padding: 0 40px;
  }
  footer.footer .grid-conteiner .mensajes input {
    font-size: 16px;
  }
  footer.footer .grid-conteiner .mensajes textarea {
    font-size: 16px;
  }
  /*CURSOS*/
  section .areaTest img {
    width: 300px;
  }
  section .areaTest h1 {
    font-size: 22px;
  }
  section .areaTest .list {
    font-size: 24px;
  }
  section .areaTest .botones .btn a {
    font-size: 20px;
  }
  section .conteinerCer {
    padding: 50px;
  }
  section .conteinerCer .title2 h1 {
    font-size: 3rem;
  }
  section .conteinerCer .title2 .subTitle2 p {
    font-size: 22px;
    padding: 15px;
  }
  section .conteinerCer h2 {
    font-size: 20px;
  }
  section .conteinerCer .img2 img {
    width: 100%;
  }
  /*Formulario de inscripción*/
  section .areaForm {
    width: 100%;
    height: 100vh;
  }
  section .areaForm .image .uk {
    width: 200px;
  }
  section .areaForm .title3 h1 {
    font-size: 22px;
  }
  section .areaForm .title3 .subTitle3 p {
    font-size: 22px;
    padding: 0 30px;
  }
  section .areaForm .title3 .botones .btn a {
    font-size: 20px;
  }
  section.conteinerCon {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  section.conteinerCon .titleCon h1 {
    font-size: 2rem;
    padding: 10px 0 0 0;
  }
  section.conteinerCon .titleCon p {
    font-size: 20px;
    padding: 0 50px;
  }
  /*SOBRE NOSOTROS*/
  section.conteinerSN .titleSN .items {
    padding-top: 25%;
  }
  section.conteinerSN .titleSN .items h1 {
    font-size: 20px;
  }
  section.conteinerSN .titleSN .items p {
    font-size: 3rem;
  }
  section.historia .historiaContent .titleSN1 h1 {
    font-size: 2rem;
  }
  section.historia .historiaContent .titleSN1 p {
    font-size: 16px;
  }
  section.historia .grid-historia {
    width: 100%;
    height: auto;
  }
  section.historia .grid-historia .grid-his1 ul {
    font-size: 18px;
  }
  section.historia .grid-historia .grid-his1 ul li {
    padding: 5px;
  }
  section.historia .grid-historia .grid-his2 p {
    padding-left: 32px;
    text-align: left;
    font-size: 18px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1328px) {
  body {
    box-sizing: border-box;
  }
  .conteinerSeccion {
    width: 100%;
    height: 100vh;
  }
  .conteinerSeccion .homeItems .title p {
    font-size: 20px;
  }
  .conteinerSeccion .homeItems .subTitle h1 {
    font-size: 3rem;
    padding: 25px;
  }
  .conteinerSeccion .homeItems .boton a {
    font-size: 16px;
  }
  .ubi .ubicacion iframe {
    width: 90%;
  }
  section.aprende .row-aprende ul {
    display: flex;
    justify-content: space-evenly;
  }
  footer.footer .footerTitle h1 {
    font-size: 3rem;
  }
  footer.footer .footerTitle p {
    font-size: 20px;
  }
  footer.footer .grid-conteiner .mensajes input {
    font-size: 16px;
  }
  footer.footer .grid-conteiner .mensajes textarea {
    font-size: 16px;
  }
  /*CURSOS*/
  section .areaTest img {
    width: 300px;
  }
  section .areaTest h1 {
    font-size: 24px;
  }
  section .areaTest .list {
    font-size: 24px;
  }
  section .areaTest .botones .btn a {
    font-size: 24px;
  }
  section .conteinerCer {
    padding: 50px;
  }
  section .conteinerCer .title2 h1 {
    font-size: 3rem;
  }
  section .conteinerCer .title2 .subTitle2 p {
    font-size: 22px;
    padding: 15px;
  }
  section .conteinerCer h2 {
    font-size: 20px;
  }
  section .conteinerCer .img2 img {
    width: 70%;
  }
  /*Formulario de inscripción*/
  section .areaForm {
    width: 100%;
    height: 100vh;
  }
  section .areaForm .image .uk {
    width: 200px;
  }
  section .areaForm .title3 h1 {
    font-size: 22px;
    padding: 0 60px;
  }
  section .areaForm .title3 .subTitle3 p {
    font-size: 22px;
    padding: 0 30px;
  }
  section .areaForm .title3 .botones .btn a {
    font-size: 20px;
  }
  section.conteinerCon {
    width: 100%;
    height: auto;
    padding: 15px;
  }
  section.conteinerCon .titleCon h1 {
    font-size: 2rem;
    padding: 10px 0 0 0;
  }
  section.conteinerCon .titleCon p {
    font-size: 20px;
    padding: 0 50px;
  }
}/*# sourceMappingURL=main.css.map */