<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Conexión css y reset-->
     <link rel="stylesheet" href="../css/reset.css">
     <link rel="stylesheet" href="../css/style.css"> 
    <!-- Fonts --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <!-- Logo -->
    <link rel="icon" href="../assets/img/logo.avif">
    <title>Cursos</title>
</head>
<body>

<header>


    <!-- Barra de Navegacion - Sec.1 -->
    <header class="contenedorMenu">  

        <div class="contentLogo">
            <div class="logoEng">
                <a href="#"> <!-- refresh -->
                    <img src="../assets/img/logo.avif" alt="logoingles" > <!-- logo -->
                </a>
            </div>
        </div>

        <nav class="navbar">
            <div class="menu">
                    <ul>
                        <li><a href="../index.html">Home</a></li>
                        <li><span>Cursos</span></li>
                        <li><a href="./prog.html">Programas a Medida</a></li>
                        <li><a href="./form.html">Formulario de inscripción</a></li>
                        <li><a href="./view/sobrenos.html">Sobre Nosotros</a></li>
                    </ul>
            </div> 
        </nav>

    </header>
    <!-- Cierre de Barra -->

    <!-- Cursos Sec.1 -->

<section>
        <div class="areaTest">

        <img src="../assets/img/uk.png" alt="ingles">
        <h3>English</h3>

        <div class="list">
            <ul>
                <li>Cursos para principiantes</li>
                <li>Cursos acelerados e intensivos</li>
                <li>Seguimiento personalizado</li>
                <li>Grupos reducidos y organizados por edades y niveles</li>
            </ul>

            <h2>____________________________</h2>

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi quidem omnis vero voluptate, magni similique odio ipsum porro id quae.</p>
        </div>

        <div class="botones">
            <div class="btn">
                <a href="#">Test de Nivel</a>
            </div>

            <div class="btn">
                <a href="#">Diagrama de cursos</a>
            </div>
        </div>
    </div>
</section>
    
    <!-- Cierre de Cursos - Sec.1 -->
    

    <!-- Certificación - Sec.2 -->
<main>
    <div class="conteinerCer">
        <div class="title2">
            <h1>Certificados Nacionales</h1>
            <div class="subTitle2">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto sunt ad porro! Autem sed eveniet ipsa fuga in eaque placeat voluptatum quisquam, consectetur aliquam dignissimos nostrum eligendi quaerat atque a?lorem</p>
            </div>
        </div>
        <div class="img2">
            <img src="../assets/img/ingles-logotipo.avif" alt="Logo2">
        </div>
    </div>
</main>
    
<!-- Cierre de Certificación Sec.2 -->

<!-- Pie de página Sec.3 -->
<footer class="footer">

    <div class="footerTitle"> <!-- titulo -->
         <h1>Contactanos</h1>
         <p>Si te interesa algun curso, necesitas saber más información, no dudes en escribirnos.</p>
    </div>
   
    <!-- contactos y redes footer -->
    <div class="grid-conteiner">

        <div class="mensajes">

            <input type="text" name="Nombre" placeholder="Nombre">
            <input type="number" name="numero" placeholder="Telefono">
            <input type="email" name="mail" placeholder="Email">

            <textarea name="texto" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>

            <div class="btnFoot">
                <button><a href="#">Enviar</a></button>
            </div>
        </div>

        <!-- redes -->

        <div class="contactos">
            <h1>Contacto y redes</h1>

            <ul>
                <li>Direccion: Calle Falsa 123</li>
                <li>Teléfono: 1234567890</li>
            </ul>

            <div class="redes">

                <div class="face">
                    <li><i class='bx bxl-facebook-square'></i><a href="https://facebook.com" target="_blank">Facebook</a></li>
                </div>

                <div class="ig">
                    <li><i class='bx bxl-instagram'></i><a href="https://instagram.com" target="_blank">Instagram</a></li>
                </div>

                <div class="gmail">
                    <li><i class='bx bxl-gmail'></i><a href="https://www.gmail.com">Gmail</a></li>
                </div>
                
            </div>
        </div>
    </div>

    <div class="span">
        <span>Todos los derechos reservados. <strong>INSTITUTO DE INGLES &copy;</strong> | Desarrolado por Gauto Cristian</span>
    </div>

</footer>
<!-- Cierre de Pie de página Sec.3 -->

</body>
</html>