<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Institución virtual de ingles. Aprende desde casa, inverti en tu futuro, cursos a tu medida. Nos encargamos de brindarte todo el aprendizaje necesario de manera Online y Presencial...">
    <meta name="keywords" content="Cursos, Ingles, Online, Aprende ingles, Cambridge, Instituto, Aprendizaje">

    <!-- Conexión Estilos-Responsive -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../sass/main.css">

    <!-- Conexión CSS - Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Fonts --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Logo -->
    <link rel="icon" href="../assets/img/logo.avif">


    <title>Programas a medida</title>
</head>
<body>

     <!-- Barra de Navegación -->
     <header>

        <div class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    
            <div class="container-fluid  navbar__flex">
    
                <nav class="navbar bg-body-tertiary">
                    <div class="container-menu">
                      <a href="#"> <!-- Logo --> 
                        <img src="../assets/img/logo.avif" alt="Bootstrap" width="40" height="40" style="border-radius: 50%;">
                      </a>
                    </div>
                </nav>
    
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
                <span class="navbar-toggler-icon"></span>
                
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                <!-- Nav -->
    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../view/cursos.html">Cursos</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link dashead" aria-current="page" href="#">Programas a medida</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../view/form.html">Formulario de Inscripción</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../view/sobrenos.html">Sobre Nosotros</a>
                        </li>
                        
                    </ul> 
                <!-- buscador -->
                
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                            <button class="btn btn-outline-warning me-2" type="button"><i class='bx bx-search'></i></button>
                        </form>
                        
              </div>
            </div>
    
        </div>
    
    </header>
        
    <!-- Cierre de Barra -->


<!-- programas  -->
<section>

    <div class="prog">

        <div class="titleProg">
            <h1>PROGRAMAS A MEDIDA</h1>
        </div>


            <div class="columns">
                
                <div class="colum1">
                    <h2><i class='bx bxs-extension'></i>Niveles de niños.</h2>
                    <ul>
                        <li>I. Kinder garten</li>
                        <li>II. Pre kids</li>
                        <li>III. Kids</li>
                        <li>IV. Kids 2</li>
                        <li>V. Kids3</li>
                        <li>VI. Pre teens</li>
                    </ul>
                </div>
                
                <div class="colum2">
                    <h2><i class='bx bxs-star'></i>Niveles adolescente.</h2>
                    <ul>
                        <li>I. Teens 1</li>
                        <li>II. Teens 2</li>
                        <li>III. Teens 3</li>
                        <li>IV. Teens 4</li>
                        <li>V. Senior 5</li>
                        <li>VI. Senior 6</li>
                    </ul>
                </div>
                
                <div class="colum3">
                    <h2><i class='bx bxs-graduation'></i>Niveles de adultos.</h2>
                    <ul>
                        <li>I. Levels A1</li>
                        <li>II. Levels A2</li>
                        <li>III. Levels B1</li>
                        <li>IV. Levels B2</li>
                    </ul>
                </div>
        </div> 

        <h1>________________________________</h1>

        <div class="column-2">
            <h2>Exámenes de cambridge</h2>
            <p>STARTERS - FLYERS - MOVERS - KET - PET- FCE- CAE - BUSINESS</p>
        </div>

        <h1>________________________________</h1>

     
        <div class="column-3">
            <h2>Nuestra Metodología: "Enseñanza Natural"</h2>
            <ul>
                <li><span>- Aprendiendo con juegos: </span> Una forma divertida de sumar aprendizaje.</li>

                <li><span>- El Trabajo en equipo potencia: </span> La inclusión de ejercicios dinámicos y participativos potencia el esfuerzo individual.</li>

                <li><span>- La Tecnología y su aporte: </span> Aprovechamos todas las virtudes que aporta la tecnología con: cds, dvds, el uso de internet, y lecciones multimedia, además de fortalecer y acompañar el avance de la tecnología en todos los ámbitos cotidianos.</li>

                <li><span>- El poder de la música: </span> Usamos canciones, un complemento de distensión que además fortalece la capacidad de escucha</li>

                <li><span>- Columna Vertebral: </span> Métodos y herramientas de enseñanza diseñados y adaptados de manera personalizada.</li>

                <li><span>- Un Equipo de Docentes eficaces: </span> Un mix de capacitación permanente para aprovechar las últimas novedades de enseñanza.</li>

                <li><span>- Coordinación y Supervisión Permanente: </span> Una forma de fortalecer la mirada interna y externa para unificar y elegir los mejores criterios y métodos de aprendizaje.</li>
            </ul>
        </div>

        <h1>________________________________</h1>
        

        <div class="row">
            <ul>
                <li><i class='bx bxs-user'></i><p>Clases individuales</p></li>
                <li><i class='bx bxs-home'></i><p>En compañía</p></li>
                <li><i class='bx bx-chat'></i><p>Clases de conversación</p></li>
                <li><i class='bx bxs-book-bookmark'></i><p>Clases de Propósitos Específicos</p></li>
            </ul>
        </div>

    </div>

</section>   
    
 <!-- Pie de página Sec.3 -->
<footer class="footer">

    <div class="footerTitle"> <!-- titulo -->
         <h1>Contactanos</h1>
         <p>Si te interesa algun curso, necesitas saber más información, no dudes en escribirnos.</p>
    </div>
   
    <!-- contactos y redes footer -->
    <div class="grid-conteiner">

        <div class="mensajes">

            <input type="text" name="Nombre" placeholder="Nombre">
            <input type="number" name="numero" placeholder="Telefono">
            <input type="email" name="mail" placeholder="Email">

            <textarea name="texto" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>

            <div class="btnFoot">
                <button><a href="#">Enviar</a></button>
            </div>
        </div>

        <!-- redes -->

        <div class="contactos">
            <h1>Contacto y redes</h1>

            <ul>
                <li>Direccion: Calle Falsa 123</li>
                <li>Teléfono: 1234567890</li>
            </ul>

            <div class="redes">

                <div class="face">
                    <li><i class='bx bxl-facebook-square'></i><a href="https://facebook.com" target="_blank">Facebook</a></li>
                </div>

                <div class="ig">
                    <li><i class='bx bxl-instagram'></i><a href="https://instagram.com" target="_blank">Instagram</a></li>
                </div>

                <div class="gmail">
                    <li><i class='bx bxl-gmail'></i><a href="https://www.gmail.com">Gmail</a></li>
                </div>
                
            </div>
        </div>
    </div>

    <div class="span">
        <span>Todos los derechos reservados. <strong>INSTITUTO DE INGLES &copy;</strong> | Desarrolado por Gauto Cristian</span>
    </div>

</footer>
<!-- Cierre de Pie de página Sec.3 -->

<!-- Conexión JS - Bootstrap -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>