<!DOCTYPE html>
<html lang="es">
<head>

    <!-- Metaetiquetas de SEO -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Institución virtual de ingles. Aprende desde casa, inverti en tu futuro, cursos a tu medida. Nos encargamos de brindarte todo el aprendizaje necesario de manera Online y Presencial...">
    <meta name="keywords" content="Cursos, Ingles, Online, Aprende ingles, Cambridge, Instituto, Aprendizaje">

    <!-- Conexión Estilos-Responsive -->
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../sass/main.css">

    <!-- Conexión CSS - Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Fonts --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">

    <!-- Icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <!-- Logo -->
    <link rel="icon" href="../assets/img/logo.avif">


    <title>Sobre Nosotros</title>
</head>
<body>

     <!-- Barra de Navegación -->
     <header>

        <div class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    
            <div class="container-fluid  navbar__flex">
    
                <nav class="navbar bg-body-tertiary">
                    <div class="container-menu">
                      <a href="#"> <!-- Logo --> 
                        <img src="../assets/img/logo.avif" alt="Bootstrap" width="40" height="40" style="border-radius: 50%;">
                      </a>
                    </div>
                </nav>
    
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    
                <span class="navbar-toggler-icon"></span>
                
              </button>
    
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
                <!-- Nav -->
    
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../view/cursos.html">Cursos</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../view/prog.html">Programas a medida</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../view/form.html">Formulario de Inscripción</a>
                        </li>
        
                        <li class="nav-item">
                            <a class="nav-link dashead" aria-current="page" href="#">Sobre Nosotros</a>
                        </li>
                        
                    </ul> 
                <!-- buscador -->
                
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                            <button class="btn btn-outline-warning me-2" type="button"><i class='bx bx-search'></i></button>
                        </form>
                        
              </div>
            </div>
    
        </div>
    
    </header>
        
    <!-- Cierre de Barra -->


<!-- SOBRE NOSOTROS -->

    <section class="conteinerSN">
        
        <div class="titleSN">
            <div class="items">
                <h1>INSTITUTO DE INGLES</h1>
                <p>Orgullosos de lo que somos</p>
                <p>Orgullosos de lo que hacemos.</p>
            </div>
            
        </div>
        
     </section>

    <section class="historia">

        <div class="historiaContent">
            <div class="titleSN1">
                <h1>Nuestra historia</h1>
                <p>Esta institucion se encarga de enseñar con   
                    Creamos un espacio a tu disposición, con un mecanismo de aprendizaje y fluidez altamente garantizado, además de un minucioso y continuo seguimiento para garantizar un progreso contínuo.</p>
            
                <h2>___________________________________</h2>
            </div>
        </div>

        
        <div class="grid-historia">
            
                <div class="grid-his1">

                    <h1>Mision y Visión</h1>
                    <p>Nuestra Misión es lograr que todos los Alumnos que han pasado y confiado en nuestra Institución logren:</p>    

                    <ul>
                        <li>- Un nivel de Inglés oral y escrito de excelencia, acorde a los parámetros internacionales.</li>

                        <li>- Disponer de un herramienta útil, un nuevo idioma imprescindible para insertarse con éxito en el mercado laboral y aprovechar viajes y momentos de placer.</li>

                        <li>- Satisfacer las expectativas de alumnos y padres.</li>

                        <li>- Generar un ambiente agradable en el que se quiera estar, aprender y participar.</li>

                        <li>- Integrar los alumnos, docentes y sus familias para favorecer el aprendizaje y el trabajo en equipo.</li>

                        <li>- Manter un cuerpo docento actualizado, y comprometido con nuestros principios y con nuestros Alumnos.</li>
                    </ul>
            </div>

            <div class="grid-his2">
                <h1>La familia York Institute</h1>
                <p>La mejor devolución de nuestra Comunidad Yorkiana es el reconocimiento que hemos recibido durante todos estos años de quienes han compartido nuestras aulas, donde además de cumplir con nuestro rol de Enseñanza, hemos compartido todo tipo de actividades de enseñanza y sociales. <br><br>

                También es un orgullo que distintos integrantes de la Familia, de distintas generaciones, han sido o son Yorkianos que incorporaron esta herramienta tan importante en la vida cotidiana que es el Inglés, además del aporte que cada uno hizo al grupo y a nuestro Equipo para poder seguir poniendo la ganas y la pasión para ayudar tanto a los que tenián más o menos facilidad para el aprendizaje.</p>
            </div>
        
        </div>
            
    </section>

<!-- Pie de página Sec.3 -->
    <footer class="footer">

        <div class="footerTitle"> <!-- titulo -->
            <h1>Contactanos</h1>
            <p>Si te interesa algun curso, necesitas saber más información, no dudes en escribirnos.</p>
        </div>
   
    <!-- contactos y redes footer -->
        <div class="grid-conteiner">

            <div class="mensajes">

                <input type="text" name="Nombre" placeholder="Nombre">
                <input type="number" name="numero" placeholder="Telefono">
                <input type="email" name="mail" placeholder="Email">

                <textarea name="texto" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>

                <div class="btnFoot">
                    <button><a href="#">Enviar</a></button>
                </div>
            </div>

            <!-- redes -->

            <div class="contactos">
                
                <h1>Contacto y redes</h1>

                <ul>
                    <li>Direccion: Calle Falsa 123</li>
                    <li>Teléfono: 1234567890</li>
                </ul>

                <div class="redes">

                    <div class="face">
                        <li><i class='bx bxl-facebook-square'></i><a href="https://facebook.com" target="_blank">Facebook</a></li>
                    </div>

                    <div class="ig">
                        <li><i class='bx bxl-instagram'></i><a href="https://instagram.com" target="_blank">Instagram</a></li>
                    </div>

                    <div class="gmail">
                        <li><i class='bx bxl-gmail'></i><a href="https://www.gmail.com">Gmail</a></li>
                    </div>
                    
                </div>

            </div>
        </div>

        <div class="span">
            <span>Todos los derechos reservados. <strong>INSTITUTO DE INGLES &copy;</strong> | Desarrolado por Gauto Cristian</span>
        </div>

</footer>
<!-- Cierre de Pie de página Sec.3 -->

<!-- Conexión JS - Bootstrap -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

</body>
</html>